# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Jupyter notebooks
*.ipynb

# Git files
.git
.gitignore

# OS files
.DS_Store
Thumbs.db

# Local logs and temporary files
*.log
*.tmp
*.swp

# Docker artifacts
*.tar

# VS Code settings
.vscode/

# Streamlit local files
.streamlit/
